body {
  background-color: white;
  text-align: center;
  margin: 0px;
  padding: 0px;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

#header {
  height: 120px;
  width: 100%;
  background: white;
  border-bottom: 1px solid #ccc;
  border-top: 3px solid #61dafb;
}

.center {
  width: 75%;
  margin: 0px auto; /* lo centra automatico*/
}

/* limpiar flotados para que lo de abajo no se meta */
.clearfix {
  clear: both;
  float: none;
}

#logo {
  width: 30%;
  font-size: 30px;
  float: left;
  margin-top: 30px;
}

#logo img {
  display: block;
  float: left;
  height: 60px;
  animation: diver infinite 2s;
}

@keyframes diver {
  0% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(-30deg);
  }
}

#brand {
  display: block;
  margin: 0px;
  float: left;
  margin-top: 9px;
  margin-left: 8px;
  /* margin-left: 15px; */
}

#menu {
  width: 70%;
  float: right;
  font-size: 18px;
}

#menu ul {
  line-height: 85px;
  width: 80%;
  float: right;
}

#menu ul li {
  display: inline-block;
  list-style: none;
  height: 46px;
  margin-left: 15px;
  margin-right: 15px;
}

#menu a {
  text-decoration: none;
  color: #444;
  transition: 300ms all;
}

#menu a:hover {
  color: rgb(77, 192, 234);
}

#slider {
  margin-top: 0.2px;
  width: 100%;
  height: 350px;
  /*line-height: 32px;*/
  color: white;
  text-shadow: rgb(40, 40, 40);

  /* css gradient */
  background: #61dafb;
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(144, 210, 238, 1) 0%,
    rgba(144, 210, 238, 1) 31%,
    rgba(7, 188, 242, 1) 84%,
    rgba(154, 215, 239, 1) 100%
  );
  background: -webkit-gradient(
    radial,
    center center,
    0px,
    center center,
    100%,
    color-stop(0%, rgba(144, 210, 238, 1)),
    color-stop(31%, rgba(144, 210, 238, 1)),
    color-stop(84%, rgba(7, 188, 242, 1)),
    color-stop(100%, rgba(154, 215, 239, 1))
  );
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(144, 210, 238, 1) 0%,
    rgba(144, 210, 238, 1) 31%,
    rgba(7, 188, 242, 1) 84%,
    rgba(154, 215, 239, 1) 100%
  );
  background: -o-radial-gradient(
    center,
    ellipse cover,
    rgba(144, 210, 238, 1) 0%,
    rgba(144, 210, 238, 1) 31%,
    rgba(7, 188, 242, 1) 84%,
    rgba(154, 215, 239, 1) 100%
  );
  background: -ms-radial-gradient(
    center,
    ellipse cover,
    rgba(144, 210, 238, 1) 0%,
    rgba(144, 210, 238, 1) 31%,
    rgba(7, 188, 242, 1) 84%,
    rgba(154, 215, 239, 1) 100%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(144, 210, 238, 1) 0%,
    rgba(144, 210, 238, 1) 31%,
    rgba(7, 188, 242, 1) 84%,
    rgba(154, 215, 239, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#90d2ee', endColorstr='#9ad7ef', GradientType=1 );
}

#slider h1 {
  margin-top: 0.2;
  padding: 0px;
  padding-top: 120px;
  text-align: center;
}

.btn-white {
  display: block;
  background-color: white;
  color: #444;
  padding: 10px;
  width: 140px;
  height: 20px;
  margin: 0px auto;
  font-size: 16px;
  text-transform: uppercase;
  text-shadow: none;
  text-decoration: none;
  line-height: 20px;
  box-shadow: 0px 0px 5px #444;
  margin-top: 60px;
  border-radius: 4px;
  transition: 500ms all;
}

.btn-white:hover {
  background: #444;
  color: white;
  font-size: large;
}

#slider.slider-small {
  height: 150px;
}

#slider.slider-small h1 {
  margin-top: 0.2px;
  padding: 0px;
  padding-top: 53px;
}

#content {
  width: 70%;
  float: left;
  min-height: 450px;
  margin-right: 20px;
}

#sidebar {
  width: 25%;
  float: left;
}

.sidebar-item {
  background: #ededed;
  padding: 20px;
  margin-top: 30px;
}

.sidebar-item h3 {
  color: rgb(49, 49, 49);
  text-transform: uppercase;
  font-size: 17px;
  margin: 0px;
  border-bottom: 3px solid rgb(171, 171, 171);
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.sidebar-item .btn {
  margin-top: 10px;
  margin: 0px auto;
}

.btn {
  display: block;
  max-width: 120px;
  background: black;
  color: aliceblue;
  padding: 15px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  transition: 300ms all;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.btn-succes {
  background: green;
}

.btn-succes:hover {
  background: rgb(0, 0, 0);
}

.mid-form {
  width: 50%;
  margin: 0px auto;
}

.mid-form label {
  display: block;
  float: left;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 17px;
}

input[type="text"],
textarea {
  width: 100%;
  height: 30px;
  border: 1px solid rgb(150, 150, 150);
  margin-bottom: 10px;
  transition: 300ms all;
}

input[type="text"]:focus,
textarea:focus {
  outline: none;
  box-shadow: 0px 0px 5px rgb(121, 121, 121) inset;
}

textarea {
  width: 100%;
  height: 150px;
  min-width: 100%;
  max-width: 100%;
  min-height: 150px;
  max-height: 300px;
}

.radiobutton {
  margin-top: 10px;
  float: left;
  margin-bottom: 20px;
}

#footer {
  background: #f7f7f7;
  width: 100%;
  height: 70px;
  line-height: 70px;
  line-height: px;
  color: #444;
}

/* los P siempre tienen margen, los saco con esto */
#footer p {
  margin: 0px;
  padding: 0px;
}

.article-item {
  width: 100%;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: left;
}

.article-item .image-wrap {
  width: 130px;
  height: 130px;
  overflow: hidden;
  float: left;
  margin-right: 15px;
  border: 1px solid #ccc;
}

.article-item .image-wrap img {
  /* width: 100%; */
  height: 100%;
  text-align: center;
}

.article-item h2 {
  display: block;
  width: 100%;
  padding: 0px;
  margin: 0px;
  margin-bottom: 7px;
}

.article-item .date {
  display: block;
  width: 100%;
  color: rgb(122, 122, 122);
}

.article-item a {
  display: block;
  color: #444;
  text-decoration: none;
  margin-top: 30px;
}

.article-item a:hover{
  text-decoration: underline;
}

.subheader {
  font-size: 38px;
  border-bottom: solid 2px #eee;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.article-detail .image-wrap {
  margin-top: 11px;
  float: none;
  width: 100%;
  height: 300px;
}

.article-item .image-wrap img {
  width: 100%;
  height: auto;
}

.article-item .subheader {
  margin-top: 15px;
margin-bottom: 0px;
border: none;
}

/* responsive */
@media (max-width: 1200px) {
  body {
    background-color: rgb(255, 37, 37);
  }
}

@media (max-width: 768px) {
  body {
    background-color: rgb(46, 42, 165);
  }
}

@media (max-width: 480px) {
  body {
    background-color: white;
  }
  .center {
    width: 100%;
  }

  #header {
    height: auto;
    display: block;
    float: none;
    width: 100%;
    background: white;
    border-bottom: 2px solid #ccc;
    border-top: 3px solid #61dafb;
  }

  #logo {
    display: block;
    width: 99%;
    float: left;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px #61dafb;
  }

  #logo img {
    display: block;
    float: left;
    height: 60px;
    margin-right: 10px;
  }

  #menu {
    width: 100%;
    font-size: 18px;
  }

  #menu ul {
    line-height: 50px;
    width: 100%;
  }

  #menu a {
    text-transform: uppercase;
    color: rgb(0, 0, 0);
  }

  #slider {
    margin-top: 0.2px;
    width: 100%;
    height: 150px;
    line-height: 75px;
    color: white;
    text-shadow: rgb(40, 40, 40);
  }

  #slider h1 {
    font-size: 300%;
  }

  #sidebar {
    display: block;
    width: 100%;
    float: left;
  }

  .subheader {
    font-size: 25px;
    border-bottom: solid 2px #eee;
    margin-bottom: 20px;
    padding-bottom: 10px;
  }
  #content {
    width: 100%;
    float: left;
    margin-top: 20px;
  }
}
